html{
    scroll-behavior: smooth;
}
.sec{
    padding:30% 0;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: rgb(0, 0, 0);
    color:rgb(238, 253, 21);
    font-size: 1em;
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    font-family: open sans, sans-serif;
}
nav ul{
    display:flex;
    width:60%;
    justify-content: space-around;
}
nav ul li {
    list-style: none;
}
nav ul li a{ 
    color:rgb(238, 253, 21);
    text-decoration: none;
    padding:5px 20px;
    height:100%;
    margin:0;
    border:0;
    transition: border  0.4s ease;
    transition: color 0.4s ease;
    border-radius: 12px;
}
body{
    background:url('https://images.unsplash.com/photo-1562173252-e161f802597b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=644&q=80'),linear-gradient(rgb(49, 49, 49),rgb(49, 49, 49));
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    background-attachment: fixed;

}
.sec{
    padding:25% 0;
    color:white;
}
nav ul li a.active{
    border:1px solid rgb(238, 253, 21) ;
    border-radius: 30px;
}
#home {padding-bottom: 150px;
padding-top:0; }
#topten { background-color: #673ab7;}
#country { background-color: #ff9800;}
#hotspots { background-color: #00bcd4;}
.carousel-container{
    width:60%;
    margin:5% auto;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}
.carousel-slide{
    width:100%;
    height: 500px;
    display: flex;
    
}
.carousel-container i{
    position: absolute;
    top:50%;
    z-index: 20;
    font-size: 30px;
    opacity: 0.8;
}
#prev{
    left:1%;
}
#next{
    right:1%;
}
.scrollD{
    font-size: 100px;
    margin:1% auto;
    color: white;
    opacity: 0.7;
    position: absolute;
}
.burger div{
    width:20px;
    height:3px;
    background:rgb(238, 253, 21) ;
    margin:5px 0;
}
.burger{
    display: none;
}
@media screen and (max-width:800px){
nav ul{
position: absolute;
right:0px;
height: 92vh;
background-color: black;
top:5.8vh;
display: flex;
flex-direction: column;
align-items: center;
width:100%;
transform: translateY(-100%);
transition: transform 0.4s ease-in;
z-index:-10;
}
nav ul li{
    opacity:0;
}
.burger{
    display:block;
}
}
.nav-active{
    transform:translateY(0%);
}
@keyframes navFade{
    from{
        opacity:0;
        transform: translateY(-50px);
    }to{
        opacity:1;
        transform: translateY(0px);
    }
}