html{
    scroll-behavior: smooth;
}
.sec{
    margin:8% 0;
    text-align: center;
    padding-bottom: 150px;
    padding-top:0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: rgb(0, 0, 0);
    color:rgb(238, 253, 21);
    font-size: 1em;
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    font-family: open sans, sans-serif;
}
nav ul{
    display:flex;
    width:60%;
    justify-content: space-around;
}
nav ul li {
    list-style: none;
}
nav ul li a{ 
    color:rgb(238, 253, 21);
    text-decoration: none;
    padding:5px 20px;
    height:100%;
    margin:0;
    border:0;
    transition: border  0.4s ease;
    transition: color 0.4s ease;
    border-radius: 12px;
}
body{
    background:url('https://images.unsplash.com/photo-1562173252-e161f802597b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=644&q=80'),linear-gradient(rgb(49, 49, 49),rgb(49, 49, 49));
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    background-attachment: fixed;

}
nav ul li a.active{
    border:1px solid rgb(238, 253, 21) ;
    border-radius: 30px;
}
#home {}
#topten {}
#country {}
#hotspots {
    padding:8% 0;
    height: 92vh;}
.carousel-container{
    width:60%;
    margin:5% auto;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}
.carousel-slide{
    width:100%;
    height: 500px;
    display: flex;
    
}
.carousel-container i{
    position: absolute;
    top:50%;
    z-index: 20;
    font-size: 30px;
    opacity: 0.8;
}
#prev{
    left:1%;
}
#next{
    right:1%;
}
.scrollD{
    font-size: 100px;
    margin:1% auto;
    color: white;
    opacity: 0.7;
    position: absolute;
    text-align: center;
}
.burger div{
    width:20px;
    height:3px;
    background:rgb(238, 253, 21) ;
    margin:5px 0;
}
.burger{
    display: none;
}
.nav-active{
    transform:translateY(0%);
}
@keyframes navFade{
    from{
        opacity:0;
        transform: translateY(-50px);
    }to{
        opacity:1;
        transform: translateY(0px);
    }
}
#topten .card-container{
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.5);
    background:linear-gradient(rgba(0, 0, 0, 0),rgba(0,0,0,0)),url('https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=653&q=80');
    background-size: cover;
    width:200px;
    height: 40vh;
    margin:1% 0;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.3em;
    color: blanchedalmond;
    font-weight: 0;
    opacity:1;
}
.card-strip{
    width:100%;
    background:rgba(0,0,0,0.6);
    margin:0 1%;
    border-radius: 5px;
}
.country-container{
    margin:1% 1%;
    width:22%;
    height:10vh;
    text-align: center;
    background:rgba(0,0,0,0.6);
    font-family: 'Montserrat', sans-serif;
    color: blanchedalmond;
    display:inline-block;
    font-size: 1em;
}
.country-list{
    padding: 15% 0;
}
.hotspots input{
    outline: none;
    width: 40%;
    height: 5vh;
    border-radius: 24px;
    border:none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
}
.hotspots button{
    outline: none;
    border-radius: 30px;
    width:7%;
    background:rgba(0,0,0,0.6);
    border:1px solid rgb(238, 253, 21);
    color:white;
    height:5vh;
    margin:0 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
}
input[type="text"]::placeholder {  
    text-align: center; 
}
.hotspots-container{
    width:90%;
    margin:50px 5%;
    justify-content: space-around;
    align-items: center;
}
.flip-container{
    position: relative;
    width:200px;
    height: 40vh;
    display: inline-block;
    margin:5% 20px;
}
.flip-card{
    position: absolute;
    width:100%;
    height:100%;
    transition:all 0.5s ease;
    transform-style: preserve-3d;
}
.flip-front{
    position: absolute;
    border-radius: 8px;
    width:100%;
    height:100%;
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.7);
    background:url('https://images.unsplash.com/photo-1506084868230-bb9d95c24759?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
    background-size: cover;
    color: whitesmoke;
    backface-visibility: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}
.flip-back{
    padding-top: 2%;
    position: absolute;
    border-radius: 8px;
    width:100%;
    height:100%;
    background: rgb(17, 17, 17);
    backface-visibility: hidden;
    transform: rotateY(180deg);
    color:whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    align-items: center;
    justify-content: center;

}
.flip-back .sub-head{
    padding-bottom:2px;
    display:inline-block;
    border-bottom: 1px solid rgb(238, 253, 21);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin:0;
    margin-top: 7%;
}
.rank{
    color: rgb(204, 204, 204);
    font-size: 0.8em;
    margin-bottom: 1px;
    margin-top:10%;
    padding: 0;
}
.flip-card:hover{
    transform: rotateY(180deg);
}
@media screen and (max-width:1024px){
    .country-container{
        width:28%;
    }
    .carousel-container{
        width:70%;
    }
    .carousel-slide{
        height:400px;
    }
}
@media screen and (max-width:800px){
    nav ul{
    position: absolute;
    right:0px;
    height: 92vh;
    background-color: black;
    top:5.8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in;
    z-index:-10;
    }
    nav ul li{
        opacity:0;
    }
    .burger{
        display:block;
    }
    .country-container{
        width:40%;
    }
    .carousel-container{
        margin-top:20%;
        width:90%;
    }
    .carousel-slide{
        height:250px;
    }
    .hotspots input{
        width: 60%;
    }
    .hotspots button{
        width:20%;
    }
    #topten .card-container{
        width:100px;
        height: 20vh;
    }
    .flip-container{
        width:150px;
        height: 30vh;
        margin:5% 5px;
        font-size: 0.8em;
    }
    .flip-front{
        font-size: 1.3em;
    }
    .hotspots-container{
        margin:50px 1%;
    }
}
